html{background-image:url(./photo/contact.jpg) ;
height: 90%;
}
h1{
    text-align: center;
    color: black;
}
h1:hover{color: red;}
h2{
    text-align: center;
    width: 20%;
    color: red;}
    h3:hover{color: yellow;}

#name{text-align: center;
font-size: large;
}

.icon{gap: 20px;
display: flex;
width: 100%;
border:solid green 5px;
background-color: darkcyan;

}
.facebook{
width: 20%;}

.messanger{
    width: 20%;}
.whatsapp{
    width: 20%;}
.telegram{
    width: 20%;}